@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}
body{
	margin: 0 auto;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.login,
.image {
    width: 100%;
    min-height: calc(100vh - 42px);
}

.bg-image {
    background-image: url("../Admin/Group\ 245.png");
    background-size: cover;
    background-position: center;
}

.bg-image > img {
    display: block;
    margin: auto;
    width: 217.26px !important;
    height: 192px !important;
}

.signup.bg-image {
    background-image: url("../Admin/Group\ 246.png");
    background-size: cover;
    background-position: center;
}

.resetpassword.bg-image {
    background-image: url("../Admin/Group\ 247.png");
    background-size: cover;
    background-position: center;
}

.buildbeer.bg-image {
    background-image: url("../Admin/Group\ 248.png");
    background-size: cover;
    background-position: center;
}

.buildbrand.bg-image {
    background-image: url("../Buildabrand/Group\ 252.png");
    background-size: cover;
    background-position: center;
}

.buildsoda.bg-image {
    background-image: url("../Buildabrand/Group\ 251.png");
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 700;
}

.btn-login {
    width: 50%;
    /* height: 72px; */
    background-color: #ff6000 !important;
    border: 1px solid #ff6000 !important;
    font-weight: 800 !important;
    font-style: normal !important;
    font-size: 18;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #000000;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.custom-checkbox > a {
    color: black;
    text-decoration: none;
    float: right !important;
}

.SignUp > span {
    font-size: 14;
}
.SignUp > span > a {
    color: #ff6000 !important;
    text-decoration: none;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(3rem + 2px) !important;
    color: black;
}

.form-control {
    color: black !important;
}


/* Meet Beer Page Start CSS3 */

.MeetBeer-Container{
	/* margin: 30px 0 0 0; */
	padding: 60px;
	background: #fff;
	box-shadow: 6px 6px 60px rgba(0,0,0,0.16), 6px 6px 60px rgba(0,0,0,0.16);
	border-radius: 10px;
}
.MeetBeer-Large{
	margin: 0;
	padding: 0;
	text-align: center;
}
.MeetBeer-Large img{
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: auto;
}
.MeetBeer-List{
	margin: 60px 0 0 0;
	padding: 0;
}
.MeetBeer-List h3,
.MeetBeer-List h4{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #000000;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}
.MeetBeer-List h4{
	font-weight: 500;
	margin-top: 10px;
	text-transform: uppercase;
}
.MeetBeer-List ul{
	margin: 24px 0 0 0;
	padding: 0;
}
.MeetBeer-List ul li{
	margin: 0 0 24px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    width: 48%;
}
.MeetBeer-List ul li:last-child{
	margin: 0;
}
.MeetBeer-List ul li h1,
.MeetBeer-List ul li h2{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #000000;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}
.MeetBeer-List ul li h2{
	font-weight: 500;
	margin-top: 10px;
	text-transform: uppercase;
}
.MeetUp-Head{
	margin: 0;
	padding: 0 0 42px 0;
}
.MeetUp-Head h1{
	margin: 0;
	padding: 0;
	color: #000000;
	font-weight: 700;
	font-size: 42px;
	text-align: left;
	text-decoration: none;
}
.MeetUp-Form{
	margin: 0 0 24px 0;
	padding: 0;
}
.MeetUp-Form label{
	margin: 0 0 15px 0;
	padding: 0;
	color: #000000;
	font-weight: 500;
	font-size: 24px;
	text-align: left;
	text-decoration: none;
}
.MeetUp-Form input{
	margin: 0;
	padding: 0 15px 0 30px;
	color: #000000;
	font-weight: 500;
	font-size: 18px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid #707070;
	border-radius: 8px;
	outline: none;
	background: #fff;
	width: 100%;
	height: 72px;
}
.MeetUp-Form input::placeholder{
	color: #000000;
}
.MeetUp-Form button{
	margin: 20px 0 0 0;
	padding: 20px 30px;
	background: #FF6000;
	border-radius: 10px;
	border: none;
	outline: none;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}
.MeetUp-Container{
	margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    z-index: 99;
}
.MeetUp-Btn{
	margin: 0;
	padding: 0;
}
.MeetUp-Btn a{
	margin: 0px 0px 0 0px;
	padding: 20px 22px;
	background: #FF6000;
	border-radius: 10px;
	border: none;
	outline: none;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.MeetUp-Btn a.active{
	background: #fff;
	border: 1px solid #FF6000;
	color: #FF6000;
}
.DeliverComplete-Btn,
.Deliverdeliver-Btn,
.DeliverOpen-Btn{
	margin: 0;
	padding: 0;
}
.DeliverComplete-Btn button,
.Deliverdeliver-Btn button,
.DeliverOpen-Btn button{
	margin: 0;
    padding: 7px 16px;
    background: #EAFF7E;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
	text-transform: uppercase;
}
.Deliverdeliver-Btn button{
	background: #FFBB92;
}
.DeliverOpen-Btn button{
	background: #9BFFC3;
}
.tabledesign th{
	font-size: 15px;
	color: #fff;
	font-weight: 700;
}
.my-revenue-container{
	margin: 30px 0 50px 0;
	padding: 40px 0;
	background: #FF6000;
	border-radius: 8px;
}
.Revenue-Head{
	margin: 0;
	padding: 0;
}
.Revenue-Head h1{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.Revenue-Head p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}
.AmountForm{
	margin: 40px 0 80px 0;
	padding: 0;
	position: relative;
}
.AmountForm::after{
	clear: both;
	display: block;
	content: '';
}
.AmountForm input{
	margin: 0;
	padding: 0 200px 0 25px;
	border: 1px solid #FF6000;
	background: #fff;
	border-radius: 8px;
	color: #FF6000;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	height: 72px;
	width: 50%;
	float: right;
	outline: none;
}
.AmountForm input::placeholder{
	color: #FF6000;
}
.AmountForm button{
	margin: 0;
    padding: 0 50px;
    background: #FF6000;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 72px;
    height: 72px;
    position: absolute;
    right: 0;
    z-index: 99;
}
.BuildBeverge-Btn{
	margin: 0 auto 50px auto;
	padding: 0;
	text-align: center;
}
.BuildBeverge-Btn a{
	margin: 0px 12px 0 12px;
    padding: 20px 30px;
    background: #FF6000;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.BuildBeverge-Btn a.active{
	background: #fff;
    border: 1px solid #FF6000;
    color: #FF6000;
}

.btn-inline button {
	display: inline-block;
	width: auto;
}



/* Meet Beer Page Start end */


/* Fallback for Edge
            -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
            -------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}
